<link rel="stylesheet" type="text/css" href="/static/css/post/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/post/write.css">

<h2 class="box-content">
	게시글 작성
</h2>

<form action="/post/" class="container-form" method="POST">
	<table class="table-form">
		<tr>
			<td>
				제목
			</td>
			<td>
				<input type="text" name="title" class="post-write-input" placeholder="제목"/>
			</td>
		</tr>
		<tr>
			<td>
				작성자
			</td>
			<td>
				<input readonly type="text" name="reg_id" class="post-write-input" value="test"/>
			</td>
		</tr>
		<tr>
			<td>
				태그
			</td>
			<td>
				<% %>
				<input type="text" name="tags" class="post-write-input" placeholder="쉼표를 통해 구별합니다. (tag1, tag2, ...)"/>
			</td>
		</tr>
		<tr rowspan="5" style="vertical-align: top;">
			<td>
				내용
			</td>
			<td>
				<textarea name="content" rows="10" cols="40" placeholder="내용을 입력하세요."></textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<div style="display: flex; justify-content: space-between;">
					<button class="btn"> 제출 </button>
					<button type="button" onClick="history.back()" class="btn"> 뒤로가기 </button>
				</div>
			</td>
		</tr>
	</table>
</form>